<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :company_name %>
    <%= f.input :location %>
    <%= f.input :company_info %>
    <%= f.input :job_info %>
    <%= f.input :company_size %>
    <%= f.input :industry %>
    <%= f.file_field :logo %>
    <%= f.hidden_field :employer_id, :value=>current_employer.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
