<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @job.company_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Company info:</strong>
  <%= @job.company_info %>
</p>

<p>
  <strong>Company size:</strong>
  <%= @job.company_size %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @job.industry %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
