<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse navbar-default">

  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= link_to image_tag("MajorLogo.png", alt:"logo", :class => "d-inline-block align-top logo"), root_path, class:"navbar-brand" %>

  <div class="navbar-collapse collapse justify-content-end">
    <ul class="navbar-nav">
      <% if current_user %>
      <li class="nav-item"><%= link_to "Jobs", jobs_path, class:"nav-link" %></li>
      <li class="nav-item"><%= link_to "Suggest", suggestions_path, class:"nav-link" %></li>
      <li class="nav-item"><%= link_to "Profile", profile_path, class:"nav-link" %></li>
      <li class="nav-item"><%= link_to "Log out", user_logout_path, class:"nav-link" %></li>
      <% elsif current_bootcamp %>
      <li class="nav-item"><%= link_to "Profile", '#', class:"nav-link" %></li>
      <li class="nav-item"><%= link_to "Jobs", jobs_path, class:"nav-link" %></li>
      <li class="nav-item"><%= link_to "Log out", bootcamp_logout_path, class:"nav-link" %></li>
      <% else %>
      <li class="nav-item"><%= link_to "Log in", user_login_path, class:"nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>
